@model Bootcamp

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc</title>
</head>
<body>
    <h2>title</h2>
    <p>@Model.Id</p>
    <p>@Model.Title</p>
    <p>@Model.Desc</p>
</body>
</html>